// @import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap');

/* bakbak-one-regular - latin */
@font-face {
    font-family: 'Bakbak One';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../assets/fonts/bakbak-one-v6-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../assets/fonts/bakbak-one-v6-latin-regular.woff') format('woff'), /* Modern Browsers */
}


:root {
    --background-white: rgba(235, 235, 235);
    --border-rad: 24px;
    --font-size-carousel: 28px;
    --transition-time: 450ms;
    --scrollbar-color: rgba(235, 235, 235, 0.575);
    --scrollbar-color-hover: rgba(235, 235, 235, 0.959);
}


@mixin sections {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    background-color: var(--background-white);
}

@mixin arrows {
    position: absolute;
    width: 80px;
    height: 80px;
    bottom: 43%;
    z-index: 1;
    cursor: pointer;
    opacity: 0.3;
    transition: var(--transition-time);
}

body { 
    margin: 0;
    text-align: center;
    background: url('../assets/images/Star_Wars_bg.png') no-repeat black;
    background-position: center;
    font-family: 'Bakbak One', cursive;
}

header {
    @include sections;
    margin-bottom: 4.5%;
    display: flex;
    align-items: center;

    a {
        cursor: pointer;
    }
}

header img {
    width: 45%;
}

main {
    @include sections;
    height: 80%;
    background-color: rgba(0, 0, 0, 0.473);
    color: white;
    display: block;
    margin-bottom: 0px;
    position: relative;
}

.main-message {
    font-size: 3em;
    font-weight: bold;
    margin: 3% 12px 24px;
}

// CAROUSEL STYLES

.carousel-container {
    position: relative;
    width: inherit;
    height: 80%;
    margin: 4% 0;
}


.carousel {
    height: 100%;
    padding: 36px 28px;
    white-space: nowrap;
    gap: 14px;
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

.carousel-element {
    width: 20%;
    height: 85%;
    border: 2px white solid;
    border-radius: var(--border-rad);
    display: inline-block;
    position: relative;
    transform-origin: center;
    transition: 450ms all;
    cursor: pointer;

    a {
        text-decoration: none;
        color: inherit;
    }
}

.carousel-element__content {
    position: absolute;
    width: 100%;
    height: 20%;
    bottom: 0;
    border-radius: var(--border-rad);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition-time) all;
    background: linear-gradient(rgba(0, 0, 0, 0.05), black);

    h3 {
        font-size: var(--font-size-carousel);
    }
}

.carousel-element:hover {
    transform: scale(1.05);
    margin: 0 16px;
}

.carousel-element__image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: var(--border-rad);
}

// CAROUSEL ARROWS
.carousel-container__left-arrow {
    @include arrows;
    left: 2%;
    transform: rotate(180deg);

    img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
}

.carousel-container__left-arrow:hover, .carousel-container__right-arrow:hover {
    opacity: 1;
}

.carousel-container__right-arrow {
    @include arrows;
    right: 2%;

    img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
}

// footer {
//     @include sections;
//     height: 200px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     margin-top: 3%;
// }

@media (max-width: 1100px) {
    .carousel-element {
        height: 90%;
        width: 30%;
    }
}

@media (max-width: 600px) {
    .main-message {
        font-size: 2.8em;
    }
    .carousel-container {
        height: 64%;
    }
    .carousel {
        padding: 4% 8%;
        height: 100%;
        overflow-x: scroll;
    }
    .carousel::-webkit-scrollbar {
        background: rgba(128, 128, 128, 0.144);
    }
    .carousel::-webkit-scrollbar-thumb {
        background: var(--scrollbar-color);
        width: 40%;
        border-radius: 45%;
    }
    .carousel::-webkit-scrollbar-thumb:hover {
        background: var(--scrollbar-color-hover);
    }
    .carousel-element {
        height: 90%;
        width: 60%;
    }
    .carousel-container__left-arrow, .carousel-container__right-arrow {
        display: none;
    }
    .carousel-element:hover {
        margin: 0 12px;
    }
}